<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="mapperNS.Task_List">

    <!-- 查询全部任务信息 -->
    <select id="selectAll" resultType="Task_List">
    SELECT task_id, st, t_date,beg_time,end_time
	FROM t_task_list
    </select>
    <!-- 插入数据 -->
    <insert id="insert" parameterType="Task_List">
        INSERT INTO t_task_list(
	task_id, st, t_date)
	VALUES (#{task_id},
    #{st},
    #{t_date})
    </insert>

    <!-- 删除数据 -->
    <delete id="delete" parameterType="Task_List">
        DELETE FROM t_task_list
        WHERE 1=1
        <if test="#{task_id}!=-1">
            AND  task_id=#{task_id}
        </if>
        <if test="#{st}!=-1">
            AND  st=#{st}
        </if>
        <if test="#{t_date}!=null">
            AND  t_date=#{t_date}
        </if>

    </delete>

    <!-- 更新任务状态，根据Task_List -->
    <update id="update" parameterType="Task_List">
        UPDATE t_task_list
        <set>
            <if test="#{st}!=-1">
                st = #{st},
            </if>
            <if test="#{beg_time}!=null">
                beg_time = #{beg_time},
            </if>
            <if test="#{end_time}!=null">
                end_time = #{end_time},
            </if>
        </set>
        where t_date = #{t_date} and task_id = #{task_id}
    </update>


</mapper>