<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义命名空间 -->
<mapper namespace="mapperNS.Schedule">

    <!-- 根据依赖查询目前可执行任务信息 -->
    <select id="queryRunnableList" resultType="RunnableList">
        select task_list.task_id,task_list.st,task.para,task.taskclassname
        from t_task_list task_list
            left join t_dep dep on (task_list.task_id=dep.task_id)
            inner join t_task_list parent_st on (dep.parent_id=parent_st.task_id)
            left join t_task task on (task.task_id=task_list.task_id)
        where (
                  parent_st.st=3
                  or parent_st.st=5
              )
              and parent_st.t_date=task_list.t_date
              and task_list.t_date=to_char(now(),'yyyymmdd')
              and task_list.st=0
    </select>

    <!-- 初始化任务列表 -->
    <insert id="initTask_List">
        insert into t_task_list
        select task_id,0 as st,to_char(now(),'yyyymmdd') as t_date
        from t_task
        ON CONFLICT(task_id,t_date) DO NOTHING
    </insert>

    <!-- 获取之前是否存在错误任务-->
    <select id="queryBeforeErrorCount" resultType="int">
        select count(1) from t_task_list
        where st=4 and t_date &lt; to_char(now(),'yyyymmdd')
    </select>

    <!-- 获取当前任务是否需要初始化 -->
    <select id="queryIsInit" resultType="int">
        select count(1) from t_task_list
        where t_date = to_char(now(),'yyyymmdd')
    </select>

    <!-- 更新任务列表任务状态（全表变更） -->
    <update id="updateAllTaskList">
        UPDATE t_task_list
        set st=0
        where t_date=to_char(now(),'yyyymmdd')
        and st in (1,2,4)
    </update>

    <!-- 插入数据
    <insert id="" parameterType="">
    </insert>-->

    <!-- 删除数据
    <delete id="" parameterType="">

    </delete>-->
</mapper>